
    <h3>Results for: {{name}} </h3>
    <ul>
        {{#each result}} 
        <li style="display: none">{{@key}}</li>
                  {{#each this}}
                    <li>country ID: {{country_id}} <br> probability: {{probability}}<br><br></li>
                  {{/each}}
        {{/each}}
    </ul>
